.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: -20px;
}

.carousel-control-prev {
  left: -40px;

  @media (min-width: 576px) {
    left: -70px;
  }

  @media (min-width: 768px) {
    left: -100px;
  }

}

.carousel-control-next {
  right: -40px;

  @media (min-width: 576px) {
    right: -70px;
  }

  @media (min-width: 768px) {
    right: -100px;
  }
}

.thumbnail-gallery {
  img {
    width: 100%;
    height: auto;
    max-height: 250px;
  }
}
