.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-size: .9rem;
  padding: 1rem .25rem;
  z-index: 3000;

  @media (min-width: 576px) {
    font-size: 1rem;
  }

  &.navbar-dark .navbar-nav .nav-link {
    align-items: center;
    font-weight: bold;
    color: $red;
    border: 2px solid transparent;
    padding: 0.125rem 0;

    @media (min-width: 992px) {
      padding: 0.5rem 1rem;
      text-align: center;
    }

    &:hover {
      color: $red;
    }

    &.btn-primary {
      color: $black;
      width: 130px;

      @media (min-width: 992px) {
        margin-left: .5rem;
        width: auto;
      }

      &:hover {
        border-color: $red;
      }
    }
  }
}

.navbar-expand-lg .navbar-collapse {
  background-color: $white;
  margin-top: 5px;
  padding: 15px;
  border-radius: 5px 0px 5px 5px;
  border: 1px solid #555;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  flex-basis: 100%;
  width: 0;

  .navbar-nav {
    align-items: flex-end;
  }

  @media (min-width: 992px) {
    justify-content: flex-end;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    border: none;

    .navbar-nav {
      align-items: center;
    }
  }
}
